<?xml version="1.0" encoding="ISO-8859-1"?>
<document>
    <properties>
        <author email="lorenzo.bigagli@cnr.it">Lorenzo Bigagli</author>
        <title>Download</title>
    </properties>
    <body>
        <section name="${project.name} Download">
            <subsection name="Download with maven">
                <p>Since version 4.0, CheckboxTree is on the Maven Central Repository. Simply add this dependency to your POM:</p>
                <source>
                    <pre>
&lt;dependency&gt;
    &lt;groupId&gt;${project.groupId}&lt;/groupId&gt;
    &lt;artifactId&gt;${project.artifactId}&lt;/artifactId&gt;
    &lt;version&gt;${project.version}&lt;/version&gt;
&lt;/dependency&gt;
</pre>
                </source>
            </subsection>
            <subsection name="Old versions">
                <p>To directly browse our repository for old and/or unreleased versions, visit <a
                        href="https://essi-lab.eu/nexus/#browse/search=keyword%3Dcheckboxtree">this page</a>.</p>
            </subsection>
        </section>
        
        <!-- <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"> </script>
        <script type="text/javascript">_uacct='UA-394405-2';urchinTracker();</script>
        -->
        
    </body>
</document>
