<?xml version="1.0" encoding="ISO-8859-1"?>
<document>
    <properties>
        <author email="lorenzo.bigagli@cnr.it">Lorenzo Bigagli</author>
        <title>Introduction</title>
    </properties>

    <body>

        <section name="${project.name}">
         
            <img src="images/checkboxtree.jpg"/>

            <p>${project.description}</p>
            
            <p><b>CheckboxTree ${project.version} is out!</b><br/>
            	Your feedback is highly appreciated: please file any Bug Report or Request For
                Enhancement to the project <a href="${project.issueManagement.url}">Issue tracker</a>.
            </p>
            <p>
                Since its first public appearance on 2007-09-11,
                CheckboxTree has been visited by about 11.000 users from 123 countries in
                the 6 continents.
            </p>
            <p><b>If you like and use CheckboxTree, please <a href="donate.html">make a donation!</a></b><br/>
                Supporting open-source software is fair and in your own interest!
            </p>

        </section>

		<!-- <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"> </script>
        <script type="text/javascript">_uacct='UA-394405-2';urchinTracker();</script>
        -->

    </body>
</document>
